body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add some basic styles to make the page look better */
h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Specific styles for the register and login forms to align them side by side */
/* .register-container, .login-container {
  width: 45%;
  margin: 0 2%;
} */
.app-background {
  background-image: url('./image/a.jpg'); 
  background-size: cover;
}